<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>بازی مافیا</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>به بازی مافیا خوش آمدید</h1>
        <form method="POST">
            <label for="player">نام بازیکن:</label>
            <input type="text" id="player" name="player" required>

            <button type="submit">شروع بازی</button>
        </form>

        {% if players %}
            <h2>لیست بازیکنان:</h2>
            <ul>
                {% for player in players %}
                    <li>{{ player }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
